body{
    
    /* width: 1060px; */
    margin:auto;
    
}
.colunas{
    display: flex;
    justify-content: space-between;
}
.cabecalho{
    width: 100%;
    color: white;
}
.cabecalho a{
    color: white;
}
header{
    background-color: #335384;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 200px;
    padding-right: 200px;
}
header a{
    color: white;
    font-size: 35px;
    text-decoration: none;
    font-family: 'Sen', sans-serif;
}
header a:hover{
    color: rgb(0, 128, 128);
}
.about:hover{
    color: rgb(0, 128, 128);
}
.dropdown-menu{
    text-decoration: none;
    
}

nav a{
    padding-left: 40px;
    font-size: 25px;
    line-height: 50px;
}
.btn{
    line-height: 60px;
}
.hero{
    margin-top: 70px;
    padding-left: 240px;
    padding-right: 200px;
}
.hero h1{
    font-size: 50px;
    font-family: 'Sen', sans-serif;
}
.dados{
    padding-top: 200px;
}
.dados h2{
    font-family: 'Sen', sans-serif;
    font-size: 35px;
    margin-bottom: 0;
    
}
.nome{
    padding-left: 5px;
}
.goal{
    color: rgb(0, 128, 128);
    padding-bottom: 100px;
}

.hero figure{
    width: 700px;
    margin-inline-end: 0px;
}
img{
    width: 100%;
}
.texto{
    font-family: 'Sen', sans-serif;
    font-size: 20px;
}
.projetos{
    background-color: #335384;
}
.inicioprojetos{
    background-color: #335384;
    color: white;
    text-align: center;
    height: 80px;
}
.inicioprojetos h1{
    line-height: 170%;
}
.organiza{
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap;
    margin-left: 280px;
    margin-right: 280px;
}
.cards{
    text-align: center;
    background-color: #ebebeb;
    box-shadow: 0 5px 30px rgba(0,0,0, 0.5);
    margin-bottom: 5px;
    
}
.cards h1{
    color: #335384;
}
.sobre{
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #ebebeb;
}
.sobre figure{
    width: 1500px;
    margin-right: 0;
    padding-top: 30px;
}
.sobre img{
    border-radius: 100%;
}
footer{
    font-family: 'Sen', sans-serif;
    font-size: 20px;
    background-color:black;
    color: white;
    padding-top: 40px;
    padding-left: 200px;
    padding-right: 200px;
    height: 300px;
}
footer a{
    text-decoration: none;
}
footer svg{
    color: white;
}

.topo{
    background: #fff;
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;

}
.show-button .topo{
    right: 20px;
}
.sobrex{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ebebeb;
}
.sobrex figure{
    width: 1500px;
    margin-right: 0;
    padding-top: 30px;
}
.sobrex img{
    border-radius: 100%;
}
