body{
    
    margin:auto;
    
}
.colunas{
    display: flex;
    justify-content: space-between;
}
.cabecalho{
    width: 100%;
    color: white;
}
.cabecalho a{
    color: white;
}

.logo1{

    background: url('../images/NewLogo.png');
    background-position: center;
    position: relative;
    width: 100px;
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: 0.3s;
}



header{
    background-color: #335384;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 200px;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    
}

header img{
    width: 60px;
}
header.stick{
    background: #335384;
    padding: 05px 200px;
    box-shadow: 0 5px 20px rgba(0,0,0, 0.05);
}
header.stick .logo{
    color: #111;
}

header .navBar{
    position: relative;
    display: flex;
}
header .navBar li{
    list-style: none;
    margin-left: 50px;
    margin-top: 10px;
}
header .navBar li a{
    text-decoration: none;
    color: white;
    font-size: 28px;
    
}

header.stick .navBar li a{
    color: white;
   
}
header .navBar li a:hover{
    color: rgb(0, 128, 128);
}
.about:hover{
    color: rgb(0, 128, 128);
}
.logo:hover{
    color: rgb(0, 128, 128);
}
.hero{
    margin-top: 100px;
    padding-left: 200px;
    padding-right: 100px;
    display: flex;
    background-color: #FDFDFF;
}
.hero h1{
    font-size: 50px;
    font-family: 'Sen', sans-serif;
}
.dados{
    padding-top: 200px;
}
.dados h2{
    font-family: 'Sen', sans-serif;
    font-size: 35px;
    margin-bottom: 0;
    
}
.nome{
    padding-left: 5px;
}
.goal{
    color: rgb(0, 128, 128);
    padding-bottom: 100px;
}
.hero figure{
    width: 100%;
    /*height: 800px;*/
    margin-inline-end: -80px;
}
img{
    width: 100%;
}
.texto{
    font-family: 'Sen', sans-serif;
    font-size: 20px;
    /*padding-right: 400px;*/
    margin-top: 100px;
    margin-right: 200px;
    width: 60%;
}
.projetos{
    background-color: #335384;
}
.inicioprojetos{
    background-color: #335384;
    color: white;
    text-align: center;
    height: 80px;
}
.inicioprojetos h1{
    line-height: 170%;
}
.organiza{
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap;
    margin-left: 280px;
    margin-right: 280px;
}
.cards{
    text-align: center;
    background-color: #ebebeb;
    margin-bottom: 30px;
    
}
.cards h1{
    color: #335384;
}
.sobre{
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #ebebeb;
    display: flex;
}
.sobre figure{
    width: 40%;
    margin-right: 0;
    padding-top: 30px;
}
.sobre img{
    border-radius: 100%;
}
footer{
    font-family: 'Sen', sans-serif;
    font-size: 20px;
    background-color:black;
    color: white;
    padding-top: 40px;
    padding-left: 200px;
    padding-right: 200px;
    height: 300px;
}
footer a{
    text-decoration: none;
}
footer svg{
    color: white;
}
.rodape{
    display: flex;
}
.topo{
    background: #fff;
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;

}
.show-button .topo{
    right: 20px;
}
.sobrex{
    display: flex;
    padding-left: 20px;

  
    padding-bottom: 10px;
    background-color: #ebebeb;
}
.sobrex figure{
    width: 800px;
    margin-right: 0;
    padding-top: 70px;
}
.sobrex img{
    border-radius: 100%;
}
.sobrextexto{
    margin-top: 10px;
    margin-right: 100px;
    width: 70%;
}

@media (max-width: 991px){
    header, header.stick{
        padding: 10px 20px;
    }
    header .navBar{
        display: none;
    }

    header .navBar.active{
        width: 100%;
        height: calc(100% - 68px);
        position: fixed;
        top: 68px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #fff;
    }

    header .navBar li{
        margin-left: 0;
    }
    header .navBar li a{
        color: #111;
        font-size: 1.6em;
    }

    .menuToggle{
        position: relative;
        width: 40px;
        height: 40px;
        background: url('../images/menu.png');
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        transition: 0.3s;
    }
    .menuToggle.active{
        background: url('../images/close.png');
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
        transition: 0.3s;
    }
    
    
    header .menuToggle{
        filter: invert(1);
    }
    header.stick .menuToggle{
        filter: invert(1);
    }
    .hero{
        margin-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        display: block;
    }
    .dados{
        text-align: center;
        padding-top: 130px;
        margin-bottom: 40px;
    }
    .hero figure{
        display: none;
    }
    .organiza{
        display: flex;
        justify-content: space-around; 
        flex-wrap: wrap;
        margin-left: 10px;
        margin-right: 10px;
    }
    .sobre{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 30px;
        padding-bottom: 30px;
        background-color: #ebebeb;
        display: block;
    }

    .texto{
        margin-top: 20px;
        width: 100%;
    }
    .sobre figure{
        width: 100%;
        margin-right: 0;
        padding-top: 30px;
    }
    footer{
        font-family: 'Sen', sans-serif;
        font-size: 20px;
        background-color:black;
        color: white;
        padding-top: 40px;
        padding-left: 10px;
        padding-right: 10px;
        height: 300px;
    }
    .rodape{
        display: block;
    }
    .sobrex{
        display: block;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #ebebeb;
    }
    
    .sobrex figure{
        width: 100%;
        margin-right: 0;
        padding-top: 30px;
    }
}